.footer
  %ul
    %li= link_to "Story Wheel", "/"
    %li= link_to "Create your Story Wheel", "#", :class => "build-your-own"
    %li= link_to "About", "#", :class => "aboutLink"
    - # = render :partial => "stories/social"

  %a{:href => "http://soundcloudlabs.com", :class => "labs", :target => "_blank"}
    SoundCloud Labs

.about.hidden
  %h1 About Story Wheel

  Story Wheel was created by <a href="http://twitter.com/johanneswagener">Johannes Wagener</a> &amp; <a href="http://twitter.com/kbirkenbach">Katharina Birkenbach</a>. It initially got started at the MusicHackDay in Boston 2012.
  It's using the SoundCloud API to store the recordings of each story.

  Background music is picked from http://soundcloud.com/tags/soundscape?creativecommons=1

#step1.step.hidden= render :partial => "new_step1"
#step2.step.hidden= render :partial => "new_step2"
#step3.step.hidden= render :partial => "new_step3"