.footer
  %ul
    %li= link_to "Story Wheel", "/"
    %li= link_to "Create your Story Wheel", "#", :class => "build-your-own"
    %li= link_to "About", "#", :class => "aboutLink"
    = render :partial => "stories/social"

  %a{:href => "http://soundcloud.com/apps/storywheel", :class => "labs", :target => "_blank"}
    SoundCloud Labs

.about.hidden
  %h1 About Story Wheel

  Story Wheel was started by <a href="http://twitter.com/johanneswagener">Johannes Wagener</a> &amp; <a href="http://twitter.com/kbirkenbach">Katharina Birkenbach</a> during the 
  <a href="http://musichackday.org">Music Hack Day Boston</a> in 2011.
  It's using <a href="http://instagr.am">Instagram</a> to serve the pictures and 
  <a href="http://soundcloud.com">SoundCloud</a> to record and playback the stories.

#step1.step.hidden= render :partial => "new_step1"
#step2.step.hidden= render :partial => "new_step2"
#step3.step.hidden= render :partial => "new_step3"