<!DOCTYPE html>
%html
  %head
    %title StoryWheel
    = stylesheet_link_tag    "/style.css", "http://fonts.googleapis.com/css?family=Amatic+SC"
    = javascript_include_tag "application", "http://connect.soundcloud.com/sdk.js", "/jquery.tmp.js", "http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"
    = csrf_meta_tags
    - if @track.present?
      %script!= "window.track = #{@track.to_json}; window.comments = #{@comments.to_json};"
  %body{:id => (@track.present? ? "show" : "home")}
    #page
      .top
        .screen.intro
          .home.hidden
            %h1 Story Wheel
            %h2 Tell the story behind your images
            %img{:src => "/carousel.png"}
            = link_to 'Create your Story Wheel now!', "/stories/new", :id => "createYourOwn", :class => "button build-your-own"
          .show.hidden
            .cover
              %h1 Johannes
              %h2 My Trip To Boston
              %img{:src => "/carousel.png"}

            %a#play.button{:href => "#"} Play!

          .progress.hidden
            %h1 Story Wheel
            %h2 Tell the story behind your images
            %span#progressMessage
            %img{:src => "/carousel.png"}
            //= link_to 'Build your own Story Wheel', connect_instagram_path, :class => "button build-your-own"

          #currentImage.hidden
        
        .stories.hidden
          %ul 
            - 0.times do
              %li
                %h3
                  %a{:href => "carousel.html", :style => "background-image: url(http://distilleryimage9.s3.amazonaws.com/9644ca5e0aaa11e1a87612313804ec91_5.jpg);"}
                    %span.user= "Johannes Wagener"
                    %br
                    %span= "A trip to boston"
          .prev
            <
          .next
            >
      .bottom
        
        
        .footer
          %ul
            %li
              %a{:href => "/"}
                Story Wheel

            %li
              %a{:href => ""}
                Create your Story Wheel
            %li
              %a{:href => "/"}
                About

            %li.social
              <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            %li.social              
              <iframe src="//www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=82985198723" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>

          %a{:href => "http://soundcloudlabs.com", :class => "labs"}
            SoundCloud Labs

        
        #step1.step.hidden= render :partial => "new_step1"
        #step2.step.hidden= render :partial => "new_step2"
        #step3.step.hidden= render :partial => "new_step3"
